@import 'fonts';

.section-1 {
  display: flex;
  justify-content: space-between;
  padding: 30px;
  margin: 20px;
}

.about-title {
    text-align: center;
    margin-top: 20px;
    color: $red-color;
    font-size: 4em;
    font-family: "amandine", sans-serif;
    font-weight: 700;    
  }
  
.text-block-1 {
    display: flex;
  }

.small-heading {
    font-family: $main-p-font; 
  }
  
.text-1 {
    margin-bottom: 5px; 
    text-align: right; 
    margin-bottom: 2%;
    text-align: center;
    color: $primary-color;
    font-family: 'Oxygen', sans-serif;
    //font-family: 'Playfair Display', serif;
    letter-spacing: -0.7px;
    display: block;
    font-size: 1.2em; 
    line-height: normal;
}
  
  .hanna-img{
      justify-content: flex-end;
  }