$primary-color: #222222;
$secondary-color: #706564;
$red-color: #071062;
$background-color: #EDE8D8;



/* Other Color Combinations 
$primary-color: #222222;
$secondary-color: #A69D96;
$red-color: #EF4F46;
$background-color: #EDE8D8;

$red-color: #EF4F46;
$background-color: #F5EEE4;
$red-color: #071062;
*/

/*
$primary-color: #222222;
$red-color: #EF4F46;
$background-color: #F4EEDD;
$secondary-color: #8F8C83;
*/

/*$primary-color: #271613;
$red-color: #D6382B;
$background-color: #F5EEE4;
$secondary-color: #A69D96;
*/