body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

.main-container {
  max-width: 1000px;
  margin: 0 auto; 
  padding: 0 20px; 
  align-items: center; 
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: left; 
    margin-bottom: 20px;
}

.projects-heading {
    text-align: left;
    margin-top: 50px; 
    margin-bottom: 50px;
    margin-bottom: 2%;
    color: $red-color;
    font-family: $main-heading-font;
    //font-family: 'Playfair Display', serif;
    //letter-spacing: -1px;
    font-size: 4em;
    //font-weight: bolder;
}

/* Styles for the form */
form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    float: left;
    width: 100%;
  }

  @media screen and (max-width: 320px) {
    form {
        max-width: 40%; 
    }
}
  
  label {
    font-family: $main-p-font;
    //font-family: 'Lato', sans-serif;
    letter-spacing: 0px;
    font-size: 1.2em;
    color: $red-color;
  }
  
  textarea,
  input[type="text"],
  button {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-family: $main-heading-font;
    font-weight: 400;
    // font-family: 'Playfair Display', serif; 
    //letter-spacing: 0px;
    //font-size: 1.2em; 
    font-size: 1em;
  }
  
  textarea {
    resize: vertical;
    min-height: 100px;
  }

  .text {
    font-family: $main-p-font;
    //font-family: 'Lato', sans-serif;
    margin-bottom: 10px;  
}
  
  /* Button styles */
  .button {
    display: inline-block;
    padding: 10px 20px;
    margin: 5px;
    text-decoration: none;
    color: $background-color;
    background-color: $primary-color;
    border: none;
    border-radius: 28px;
    transition: color 0.4s, background-color 0.4s;
    //font-family: 'Playfair Display', serif;
    font-family: $main-heading-font;
    font-weight: 400;
  }
  
  .button:hover {
    color: $background-color;
    background-color: $red-color;
    border: none;
  }
  