$main-heading-font: "amandine", sans-serif;
$main-p-font: 'Oxygen', sans-serif;
$main-font: 'Montserrat', sans-serif;

@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600&display=swap');
// My Fonts are Playfair Display for headings and such, and Lato for regular texts 

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500&display=swap');
//montserrat 

// Amandine Regular
// font-family: "amandine", sans-serif;
// font-weight: 400;
// font-style: normal;
// Amandine Italic
// font-family: "amandine", sans-serif;
// font-weight: 400;
//  font-style: italic;
// Amandine Bold
// font-family: "amandine", sans-serif;
// font-weight: 700;
// font-style: normal;
// Amandine Bold Italic
// font-family: "amandine", sans-serif;
// font-weight: 700;
// font-style: italic; * / 




