body {
    background-color: $background-color;
    margin: 0;
    display: flex;
    justify-content: center;
}

.container {
    max-width: 900px;
    width: 100%;
    padding: 20px; 

}

.title {
    display: flex;
    flex-direction: column;
}

h1 {
    color: $red-color;
    font-size: 8em; 
    margin: 0;
    font-weight: bold;
    letter-spacing: -4px;
}

.title {
    position: relative;
}

h1 {
    display: inline; 
    position: relative;
}

/*.additional-info {  
    position: relative;
    top: 0;
    display: inline; 
    left: 100%;
  margin-left: 30px; 
    margin-bottom: 0px;
    font-size: 16px; 
    color: $red-color; 
    visibility: visible; 
    font-weight: 200;
    font-family: 'Playfair Display', serif; 
}*/

.heading-text {
    top: 0;
    display: inline; 
    left: 100%;
    font-size: 20px; 
    color: $red-color; 
    visibility: visible; 
    font-weight: 200;
    font-family: 'Playfair Display', serif; 
    width: 60%;
    letter-spacing: -1px;
}

.container-titles {
    display: flex;
    justify-content: flex-end; 
    width: 100%; 
    margin-top: 30px;
    margin-bottom: 30px;
}

.heading-text {
    display: flex;
    flex-direction: column;
    font-size: 18px;
    color: $red-color;
    font-weight: 200;
    font-family: 'Playfair Display', serif;
    justify-content: flex-end; 
    letter-spacing: -1px;

}

.heading-text span {
    margin-bottom: 5px; 
    text-align: right; 
}


/* Setting up Media querys so that i dont have an issue with the large title*/
@media screen and (max-width: 560px) {
    h1 {
        font-size: 6em; 
    }
}

@media screen and (max-width: 480px) {
    h1 {
        font-size: 3em; 
    }
}

h1:first-child {
    align-self: flex-start; 
}

h1:last-child {
    align-self: flex-end; 
}

.info-text {
   color: $primary-color;
   font-family: 'Lato', sans-serif;
   margin-bottom: 20px;
   line-height: 1.5;
}


/* LINKS STYLE */

.links-column {
    font-family: 'Playfair Display', serif;
    font-size: 3em; 
    margin-left: 20px; 
    color: $red-color;
    letter-spacing: -2px;
}

.sidebar-link {
    margin-bottom: 5px; 
}

.links-column .sidebar-link a {
    font-family: 'Playfair Display', serif; 
    font-weight: 700;
    text-decoration: none;
    color: $red-color; 
    transition: color 0.3s ease-in-out margin-left 4s;
}

.links-column .sidebar-link a:hover {
    color: $primary-color; 
    font-style: italic;
    margin-left: 3px 4s;
}