body {
    background-color: $background-color;
    margin: 0;
    display: flex;
    justify-content: center;
}

.container {
    max-width: 800px;
    width: 100%;
    padding: 20px; 

}

.title {
    display: flex;
    flex-direction: column;
}

h1 {
    color: $red-color;
    font-size: 8em; 
    margin: 0;
    font-weight: bold;
}

/* Setting up Media querys so that i dont have an issue with the large title*/
@media screen and (max-width: 560px) {
    h1 {
        font-size: 6em; 
    }
}

@media screen and (max-width: 480px) {
    h1 {
        font-size: 3em; 
    }
}

h1:first-child {
    align-self: flex-start; 
}

h1:last-child {
    align-self: flex-end; 
}

.info-text {
   color: $primary-color;
   font-family: 'Lato', sans-serif;
}


/* LINKS STYLE */

.links-column {
    font-family: 'Playfair Display', serif;
    font-size: 1.5em; 
    margin-left: 20px; 
    color: $red-color;
}

.sidebar-link {
    margin-bottom: 5px; 
}

.links-column .sidebar-link a {
    font-family: 'Playfair Display', serif; 
    font-weight: 700;
    text-decoration: none;
    color: $red-color; 
    transition: color 0.3s ease-in-out; 
}

.links-column .sidebar-link a:hover {
    color: $primary-color; 
}