.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $background-color;
    border-bottom: 1px solid $primary-color; 
    padding: 10px 20px; 
}

.name {
    color: $primary-color;
    font-family: 'Lato', sans-serif; 
}

.contact-link {
    color: $primary-color;
    font-family: 'Lato', sans-serif; 
}
